.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-bottom: 5rem;
}

.project-card {
  background: #1a1919;
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform .6s;
  border-radius: 5%;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 0px rgba(105, 95, 95, 0.7);
    -webkit-box-shadow: 0px 0px 50px 0px rgba(105, 95, 95, 0.7);
    -moz-box-shadow: 0px 0px 50px 0px rgba(105, 95, 95, 0.7);
  }
}

.project-card img {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
}

.title_content {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  border-radius: 50%;
  height: 80px;
  margin: 0 10px;
}

.project-title {
  color: white;
  padding: 1rem 0;
}

.pro-details {
  margin-top: auto;
}

.pro-details p {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-align: justify;
}

.pro-btns {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.pro-btns .btn {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .project-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .title_content {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin: 15px 0;
  }
}