.resume .resume-container {
  max-width: 95%;
  margin: auto;
}

.resume .content {
  max-width: 85%;
  margin: auto;
  position: relative;
}

.resume .content::after {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  height: 100%;
  width: 5px;
  background: #d9dee2;
  z-index: -2;
}

.resume .resume-info-header {
  text-align: center;
  padding: 4rem 0 2rem 0;
}


.resume .box {
  padding: 40px;
  margin-bottom: 40px;
  position: relative;
  color: black;
  background: linear-gradient(145deg, #e2e8ec, #707070);
}

.resume .box:hover {
  background: darkgray;
  color: white;
  transition: 1s;
}

.resume .box:hover p {
  color: white;
  transition: 1s;
}

.resume hr {
  margin: 15px 0 15px 0;
  border: 1px solid #e3e9ed;
  background-color: #e3e9ed;
}

.resume p {
  font-size: 18px;
  color: black;
}

.resume .content-section {
  position: relative;
  display: flex;
}

.resume .resume-info {
  position: relative;
  width: 50%;
}

.resume .resume-list {
  list-style-type: disc;
}

.resume .title {
  position: relative;
}

/* .resume .title::before {
  content: "";
  position: absolute;
  top: 15%;
  left: -15%;
  height: 5px;
  width: 7.5%;
  background: #d9dee2;
}

.resume .title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  height: 10px;
  width: 10px;
  background: #fff;
  border: 5px solid #d9dee2;
  border-radius: 50%;
  z-index: 5;
  transition: 0.5s;
} */


.resume .box::after {
  content: "";
  position: absolute;
  top: 10%;
  left: -5%;
  height: 5px;
  width: 7.5%;
  background: #d9dee2;
}

.resume .box::before {
  content: "";
  position: absolute;
  top: 7%;
  left: -7%;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 5px solid #d9dee2;
  border-radius: 50%;
  z-index: 5;
  transition: 0.5s;
}

.resume .box:hover.box:before {
  background: #ff3a75;
}

@media (max-width: 768px) {

  .resume .box::before {
    top: 9%;
    left: -9%;
    height: 10px;
    width: 10px;
  }

  .resume .content-section {
    flex-direction: column;
  }

  .resume .resume-info {
    width: 100%;
  }
}